html {
  margin: 0;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100vw;
  min-height: 100vh;
  background: rgb(29,28,46);
  background: -moz-radial-gradient(circle, rgba(29,28,46,1) 0%, rgba(10,10,10,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(29,28,46,1) 0%, rgba(10,10,10,1) 100%);
  background: radial-gradient(circle, rgba(29,28,46,1) 0%, rgba(10,10,10,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d1c2e",endColorstr="#0a0a0a",GradientType=1);
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 0.2rem;
  line-height: 0.5rem;
  text-decoration: underline;
  text-decoration-color: rgb(164, 14, 76);
  text-decoration-thickness: 500%;
}

p {
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

/* containers */

.App {
  display: grid;
  grid-template-columns: 10vw auto;
  grid-template-rows: 30rem 17rem auto 5rem;
  grid-template-areas: 
    "HeaderLeft HeaderRight"
    "AboutMeLeft AboutMeRight"
    "ContentLeft ContentRight"
    "FooterLeft FooterRight"
  ;
  justify-items: center;
  align-items: center;
}

.HeaderLeft {
  justify-self: end;
  grid-area: HeaderLeft;
  margin-right: 1rem;
}

.HeaderRight {
  grid-area: HeaderRight;
  justify-self: start;
  display: flex;
  flex-flow: column;
  border-left: 1px solid rgb(110, 110, 147);
  padding-left: 2rem;
}

.ContentLeft {
  grid-area: ContentLeft;
}

.AboutMeLeft {
  grid-area: AboutMeLeft;
}

.ContentRight, .AboutMeRight {
  justify-self: start;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: stretch;
  /* border-left: 1px solid white; */
  padding-left: 2rem;
  padding-right: 2rem;
}

.ContentRight {
  margin-top: 20rem;
  border-top: 1px solid rgb(110, 110, 147);
  border-bottom: 1px solid rgb(110, 110, 147);
  padding-top: 2rem;
  padding-bottom: 10rem;
}

.AboutMeRight {
  line-height: 2.3rem;
  border-left: 1px solid rgb(110, 110, 147);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.Project {
  box-sizing: border-box;
  /* background-color: rgb(50, 50, 66); */
  border-left: 1px solid rgb(110, 110, 147);
  /* border-radius: 0.5rem; */
  /* padding: 2rem; */
  max-width: 40vw;
  flex: 1 1 20vh;
  margin-top: 2rem;
  margin-bottom: 6rem;
  margin-left: -2rem;
  padding-left: 2rem;
  line-height: 1.5rem;
}

.FooterLeft {
  grid-area: FooterLeft;
}

.FooterRight {
  grid-area: FooterRight;
  justify-self: start;
  align-self: end;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

.Technologies {
  display: flex;
  flex-flow: row wrap;
  margin: 1.5rem 0;
}

.Description {
  font-size: 1.15rem;
}

.Video {
  margin: 2rem 0;
}

.Buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
}

/* buttons */

.DemoButton, .SourceButton, .ContactButton {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 0.5rem;
  margin-right: 1.2rem;
}

.DemoButton {
  background-color: rgb(164, 14, 76);
  /* background-color: rgb(244, 201, 93); */
  font-weight: 700;
}

.ContactButton {
  background-color: rgb(164, 14, 76);
  font-weight: 700;
}

.SourceButton {
  color: rgb(244, 201, 93);
  border: 1px solid rgb(244, 201, 93);
}

/* Spans */

.EnglishName {
  font-size: 2.5rem;
  font-weight: 700;
}

.ChineseName {
  font-size: 2rem;
  font-weight: 100;
}

.MyTitle {
  color: rgb(177, 255, 170);
  margin-bottom: 1rem;
  letter-spacing: 0.4rem;
}

.AboutMe {
  font-size: 1.5rem;
  max-width: 35vw;
}

.Technology {
  box-sizing: border-box;
  color: rgb(177, 255, 170);
  padding: 0.1rem 1rem;
  /* margin: 0 0.5rem; */
  border-right: 1px solid rgb(143, 163, 141);
  /* border-radius: 0.2rem; */
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
}

.Technology:nth-of-type(1) {
  padding-left: 0;
}

.Technology:nth-last-of-type(1) {
  border-right: none;
}

/* images */

.Logo {
  max-width: 7rem;
}